/*!
Ionicons, v1.5.2
Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
https://twitter.com/benjsperry  https://twitter.com/ionicframework
MIT License: https://github.com/driftyco/ionicons
*/
