# Framework
# ---------

YII_DEBUG   = true
YII_ENV     = tests

# Databases
# ---------

DB_DSN           = mysql:host=localhost;port=3306;dbname=yii2-starter-kit-tests
DB_USER          = root
DB_PASSWORD      = root
DB_TABLE_PREFIX  =

# Urls
# ----

FRONTEND_URL    = http://yii2-starter-kit.dev
BACKEND_URL     = http://backend.yii2-starter-kit.dev
STORAGE_URL     = http://storage.yii2-starter-kit.dev

# Other
# -----
FRONTEND_COOKIE_VALIDATION_KEY = NAbp2lxwNs8XQ5sbdd46_fzuQdlP6DPy
BACKEND_COOKIE_VALIDATION_KEY = h8znJTH9JcyYHp7hzP5qiworjFiVtOZx
ADMIN_EMAIL    = admin@yii2-starter-kit.dev
ROBOT_EMAIL    = robot@yii2-starter-kit.dev
GITHUB_CLIENT_ID = your-client-id
GITHUB_CLIENT_SECRET = your-client-secret

