.upload-kit .upload-kit-item {
  position: relative;
  width: 150px;
  height: 150px;
  color: #999999;
  border: 2px dashed #999999;
  border-radius: 7px;
  float: left;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
.upload-kit .upload-kit-item .upload-action {
  width: 80%;
  height: 40%;
  display: block;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 3em;
  text-align: center;
  z-index: 1;
}
.upload-kit .upload-kit-item .upload-action .progress {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  display: none;
}
.upload-kit .upload-kit-item .upload-action .remove {
  display: none;
  color: #FFF;
  cursor: pointer;
}
.upload-kit .upload-kit-item input[type=file] {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.upload-kit .upload-kit-item.in-progress .progress {
  display: block;
}
.upload-kit .upload-kit-item.done {
  cursor: default;
  border-color: transparent;
}
.upload-kit .upload-kit-item.done .add {
  display: none;
}
.upload-kit .upload-kit-item.done .upload-action {
  width: 40%;
  margin-left: 25%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  display: none;
  font-size: 4em;
  cursor: pointer;
}
.upload-kit .upload-kit-item.done input[type=file] {
  cursor: default;
  z-index: -1;
}
.upload-kit .upload-kit-item.done:hover .upload-action {
  display: block;
}
.upload-kit .upload-kit-item.done:hover .remove {
  display: block;
}
.upload-kit:before,
.upload-kit:after {
  content: " ";
  display: table;
}
.upload-kit:after {
  clear: both;
}
