/* styles.less */
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.box a {
  color: #f938ab;
}
.box a:hover {
  color: #ffffff;
}
